
/model_training/sql_generator/model.safetensors
/model_training/sql_generator.zip
/model_training/sql-generator
/model_training/.DS_Store
/model_training/sql-generator-nl2sql
/model_training/sql_generator-nl2sql/model.safetensors
/model_training/sql_generator-nl2sql.zip
